<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
   <!-- START navbar header-->
   <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
         <div class="brand-logo">
            <img class="img-responsive" src="app/img/SVG/logo_white.svg" alt="App Logo" />
         </div>
         <div class="brand-logo-collapsed">
            <img class="img-responsive" src="app/img/logo-single.png" alt="App Logo" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
      <!-- Navbar Menu -->
      <ul class="nav navbar-nav" ng-controller="SidebarController">
         <li ng-repeat="item in menuItems " ng-class="{'dropdown': item.submenu,'active':$state.includes(item.sref)}" uib-dropdown="!!item.submenu" >
            <a ng-if="!item.heading &amp;&amp; !item.submenu" ng-href="{{$state.href(item.sref)}}" title="{{item.text}}" ng-class="{'active':$state.includes(item.sref)}">
               <span>{{item.text}}</span>
               <!-- (item.translate | translate) ||  -->
            </a>
            <a uib-dropdown-toggle="" ng-if="item.submenu">
               <span>{{item.text}}</span>
            </a>
            <!-- START Dropdown menu-->
            <ul class="dropdown-menu animated fadeInUp">
               <li ng-repeat="subitem in item.submenu">
                  <a ng-href="{{$state.href(subitem.sref)}}" title="{{subitem.text}}">
                     <span>{{subitem.text}}</span>
                  </a>
               </li>
            </ul>
         </li>
      </ul>
      <!-- End Navbar Menu-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- START lock screen-->
         <li>
            <a ui-sref="page.lock" title="Lock screen">
               <em class="icon-lock"></em>
            </a>
         </li>
         <!-- END lock screen-->
         <li class="dropdown pull-right" uib-dropdown>
          <a uib-dropdown-toggle style="padding:13px;display:table">
            <!-- <i class="zmdi zmdi-more-vert"></i> -->
            <img class="pull-left img-circle" style="width:30px;;height:30px" ng-src="{{mCtrl.profilePicThumb}}">
            <i class="pull-right fa fa-chevron-down zmdi-hc-2x" style="color: white;padding-top: 6px;margin-left: 20px;margin-right:5px;font-size: 18px;"></i>
            <p class="pull-right profileName hidden-xs">{{mCtrl.doctor_name}}</p>

          </a>
          <ul class="dropdown-menu">
            <li>
              <a data-ui-sref="app.profile">View Profile</a>
            </li>
            <li>
              <a ng-click="mCtrl.changePasswordFn()">Change Password</a>
            </li>
            <li>
              <!-- data-ui-sref="login"  -->
              <a ng-click="mCtrl.ngDialogPop('logout_modal','smallPop')">Logout</a>
            </li>
          </ul>
        </li>

      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
   <!-- START Search form-->
   <form class="navbar-form" role="search" action="search.html">
      <div class="form-group has-feedback">
         <input class="form-control" type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}" />
         <div class="fa fa-times form-control-feedback" search-dismiss="search-dismiss"></div>
      </div>
      <button class="hidden btn btn-default" type="submit">Submit</button>
   </form>
   <!-- END Search form-->
   <script type="text/ng-template" ng-show="visible" id="logout_modal">
              <div class="ngdialog-message logoutpopo">

                  <div class="ngdialog-header">
                      <p>Logout Confirmation</p>
                  </div>
                  <div class="ngdialog-body">
                      <p>Do you want to Logout ? </p>
                      <button type="button" ng-click="closeThisDialog('button')"
                      class="btn btn-default pull-left btn-cancel">Cancel
                      </button>
                      <button type="button" ng-click="mCtrl.logout()"
                              class="btn btn-primary pull-right btn-pop">Confirm
                      </button>
                  </div>
              </div>
          </script>
          <script type="text/ng-template" ng-show="visible" id="cancelConfirmFirst">
            <div class="ngdialog-message logoutpopo">
                <div class="ngdialog-header">
                    <p>Cancel Confirmation</p>
                </div>
                <div class="ngdialog-body">
                    <p>Are you sure you want to cancel ? </p>
                    <button type="button" ng-click="closeThisDialog('button')"
                    class="btn btn-default pull-left btn-cancel">Cancel
                    </button>
                    <button type="button" ng-click="mCtrl.cancelYes()"
                            class="btn btn-primary pull-right btn-pop">Confirm
                    </button>
                </div>
            </div>
        </script>
          <script type="text/ng-template" ng-show="visible" id="change_password_modal">
            <div class="ngdialog-message logoutpopo">
                <div class="ngdialog-header">
                    <p>Change Password</p>
                </div>
                <div class="ngdialog-body">
                  <form role="form" class="mb-lg" name="mCtrl.changePassword"
                  ng-submit="mCtrl.change.newPassword&&mCtrl.change.oldPassword&&mCtrl.change.confirmPassword
                  &&mCtrl.change.oldPassword!=mCtrl.change.newPassword&&mCtrl.change.confirmPassword==mCtrl.change.newPassword
                  &&mCtrl.changePassword.$submitted&&mCtrl.changePasswordApi()">
                    <md-input-container class="col-lg-12">
                        <label>Current Password</label>
                        <input type="password" ng-model="mCtrl.change.oldPassword" class="form-control" required  minlength="6" maxlength="25"/>
                    </md-input-container>
                    <span ng-show="mCtrl.change.oldWrong"
                          class="alert errorSpanPop" style="margin-left: 7px">Password is wrong</span>
                    <md-input-container class="col-lg-12">
                        <label>New Password</label>
                        <input type="password" ng-model="mCtrl.change.newPassword" class="form-control" required minlength="6" maxlength="25"/>
                    </md-input-container>
                    <span ng-show="mCtrl.change.newPassword&&mCtrl.change.oldPassword&&mCtrl.change.newPassword==mCtrl.change.oldPassword"
                          class="alert errorSpanPop" style="margin-left: 7px">New password can't be same as old password</span>
                    <md-input-container class="col-lg-12">
                        <label>Confirm Password</label>
                        <input name="mCtrl.confirmPassword" type="password" ng-model="mCtrl.change.confirmPassword"  minlength="6" maxlength="25" ng-pattern="(mCtrl.change.newPassword)" class="form-control" required/>
                    </md-input-container>
                    <span ng-show="mCtrl.changePassword.confirmPassword.$error.pattern"
                          class="alert errorSpanPop" style="margin-left: 7px">Passwords don't match</span>
                    <div style="clear:both"></div>
                    <button type="button" ng-click="closeThisDialog('button')"
                    class="btn btn-default pull-left btn-cancel">Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-primary pull-right btn-pop">Confirm
                    </button>
                  </form>

                </div>
            </div>
        </script>
      <script type="text/ng-template" ng-show="visible" id="showAccountPop">
          <div class="ngdialog-message">
              <div class="ngdialog-body">
                  <div class="m-t-30 m-b-30 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <img src="app/img/SVG/new_pop.svg"/>
                  </div>
                  <h4 class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center"><strong>Want to add your bank details!</strong></h4>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="text-center">Adding your account details to your Denefits account helps you enroll patients and allows us to send your weekly/monthly payments to your account directly.</p>
                  </div>
                  <hr class="popHR">
                  <div class="p-0 col-lg-12">
                    <button type="button" ng-click="mCtrl.later()" class="btn btn-default pull-left btn-cancel">Later</button>
                    <button type="button" style="overflow:visible"  ui-sref="app.updateAccount" class="btn btn-primary pull-right btn-pop">
                      Add
                    </button>
              </div>
          </div>
      </script>

            <script type="text/ng-template" ng-show="visible" id="showAccountPopForce">
                <div class="ngdialog-message">
                    <div class="ngdialog-body">
                        <div class="m-t-30 m-b-30 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                          <img src="app/img/SVG/new_pop.svg"/>
                        </div>
                        <h4 class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center"><strong>Need to add your bank details!</strong></h4>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <p class="text-center">To collect a down payment today, please update your banking information.</p>
                        </div>
                        <hr class="popHR">
                        <div class="p-0 col-lg-12 text-center">
                          <button type="button" style="overflow:visible"  ng-click="mCtrl.bankFromFinance()" class="btn btn-primary btn-pop pull-right">
                            Add
                          </button>
                          <button type="button" style="overflow:visible"  ng-click="closeThisDialog('button')" class="btn btn-default pull-left btn-cancel">
                            Later
                          </button>

                        </div>
                    </div>
                </div>
            </script>
            <script type="text/ng-template" ng-show="visible" id="showAccountPopReminder">
                <div class="ngdialog-message">
                    <div class="ngdialog-body">
                        <div class="m-t-30 m-b-30 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                          <img src="app/img/SVG/new_pop.svg"/>
                        </div>
                        <h4 class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center"><strong>Need to add your bank details!</strong></h4>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <p class="text-center">Please add the banking information where you would like your deposits to be made</p>
                        </div>
                        <hr class="popHR">
                        <div class="p-0 col-lg-12 text-center">
                          <button type="button" style="overflow:visible"  ng-click="mCtrl.continueToBank()" class="btn btn-primary btn-pop pull-right">
                            Add
                          </button>
                          <button type="button" style="overflow:visible"  ng-click="closeThisDialog('button')" class="btn btn-default pull-left btn-cancel">
                            Later
                          </button>

                        </div>
                    </div>
                </div>
            </script>
</nav>
<!-- END Top Navbar-->
