<div class="block-center denefitsLogin  ng-zoomBackDown ng-fluid" ng-controller="LoginController as login">
   <!-- START panel-->
     <nav class="navbar topnavbar" role="navigation">
        <!-- START navbar header-->
        <a ng-click="loginRedirect()" >
            <img src="app/img/SVG/logo_white.svg" style="padding: 15px 0;" alt="App Logo" width="125px" class="block-center img-responsive img-logo" />
        </a>
    </nav>
    <section>
       <!-- Page content-->
       <div class="content-wrapper">
         <div class="row col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <h3 class="pageH3 p-0 m-t-30 m-b-20 text-center">Set your new password</h3>

          <div class="p-0 p-t-40 col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <!-- <div class="orDiv col-lg-12 col-sm-12 col-md-12 col-xs-12 p-0 m-t-30"></div> -->
            <hr />
            <div class="col-lg-6 col-sm-8 col-md-6 col-xs-12 col-lg-offset-3  col-md-offset-3  col-sm-offset-2 iconDiv" >
              <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-center">
                <img src="app/img/SVG/more_patients.svg" />
                <label class="iconLabel">More Patients</label>
              </div>
              <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-center">
                <img src="app/img/SVG/increased_revenue.svg" />
                <label class="iconLabel">Increased Revenue</label>
              </div>
              <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-center">
                <img src="app/img/SVG/hassle_free.svg" />
                <label class="iconLabel">Hassle Free Financing</label>
              </div>
              <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-center">
                <img src="app/img/SVG/gua_pay_icon.svg" />
                <label class="iconLabel">Guaranteed Payments</label>
              </div>
            </div>
          </div>
          <div class="p-40 col-lg-6 col-sm-8 col-md-6 col-xs-12 col-lg-offset-3  col-md-offset-3  col-sm-offset-2">
            <form role="form" class="mb-lg" name="loginForm" ng-submit="newPass.password&&newPass.passwordC&&newPass.passwordC==newPass.password&&loginForm.$submitted&&setPassword()">
              <div class="form-group has-feedback col-lg-12 col-sm-12 col-md-12 col-xs-12 m-b-0">
                <div class="form-group">
                  <label>New Password</label>
                  <input type="password" minlength="6" ng-model="newPass.password" class="form-control" required/>
                </div>
              </div>
              <div class="form-group has-feedback col-lg-12 col-sm-12 col-md-12 col-xs-12 m-b-0">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" name="confirmPass" minlength="6" ng-pattern="newPass.password" ng-model="newPass.passwordC" class="form-control" required/>
                </div>
                <span ng-show="loginForm.confirmPass.$error.pattern"
                     class="alert errorSpan" style="margin-left: 7px">Passwords don't match</span>
              </div>
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12  form-group m-t-30 m-b-30" style="clear: both;text-align:center">
                <button type="submit" ng-disabled="hitInProgress" class="btn btn-block btn-primary mt-lg loginBtn">Update</button>
              </div>
            </form>
            <a ui-sref="login" class="loginLinks text-center">Back to Login</a>
          </div>
        </div>
       </div>
    </section>

</div>
