<div class="row" data-ng-controller="EmailController as email">
  <div class="col-md-12 col-xs-12 col-lg-12 col-md-12">
          <button ng-click="email.getGoogleContacts()" class="btn whiteBtn m-r-15">Get Gmail Contacts</button>
          <!-- <button ng-click="getOutlookContacts()" class="btn whiteBtn m-r-15" disabled>Get Outlook Contacts</button> -->
          <button ng-click="email.uploadCSV()" class="btn whiteBtn m-r-15">Upload Email CSV</button>
          <button ng-click="email.clearAll()" ng-if="email.patients_selected>0" class="btn whiteBtn m-r-15">Clear All</button>
          <!-- <button ng-click="manualChoose()" class="btn whiteBtn m-r-15" >Manually Choose</button> -->
          <input type="file" style="visibility: hidden;" class="upload csvUpload" name="profilePic" onchange="angular.element(this).scope().csvUpload(this.files)" id="fileInput" data-button-text="Single" uploader="uploader" accept=".csv ,.excel" />
          <div dropdown="dropdown" class="col-lg-4 brd-4 pull-right">
              <button dropdown-toggle="" class="btn btn-group btn-default dropBtn" style="text-align:left">
                  {{selectedTemplate}} <b class="fa fa-chevron-down pull-right"></b>
              </button>
              <ul role="menu" class="dropdown-menu animated fadeIn">
                  <li ng-repeat="template in templates">
                    <a ng-click="email.selectTemplate($index)">{{template.title}}</a>
                  </li>
              </ul>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 p-0">
<!-- ng-show="manualEnter" -->
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 m-t-20 m-b-20" >
                <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0 m-0" style="font-size: 16px;">Enter Email: </p>
                <input type="email" ng-pattern="mCtrl.emailPattern" ng-model="email.customEmails.manualEmail"
                ng-blur="email.addPatient(email.customEmails.manualEmail)" ng-keypress="$event.keyCode === 13 && email.addPatient(email.customEmails.manualEmail)" prevent-enter-submit class="form-control p-l-15">
              </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 selectedList">
                    <h3 style="font-size: 20px;" ng-if="email.accountUsed"><strong>Emails fetched from : {{email.accountUsed}}</strong></h5>
                    <h5 style="font-size: 15px;">Selected Patients : </h5>
                    <p style="font-size: 16px;" ng-if="email.patients_selected.length==0">No patient selected yet</p>
                    <button class="btn btn-primary m-5" style="text-transform:lowercase" type="button" ng-click="email.deleteEmail($index)" ng-repeat="patient in email.patients_selected track by $index">{{patient}}&nbsp;&nbsp;<i class="zmdi zmdi-close"></i></button>
                </div>


                <form name="email.emailTemplate" ng-submit="email.emailTemplate.$submitted&&email.doSubmit&&email.sendEmail()">

                <!-- </div> -->
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <md-input-container>
                        <label>Email Subject</label>
                        <input class="form-control" placeholder="Subject" ng-model="email.customEmails.subject" required>
                    </md-input-container>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <label>Email Message</label>
                    <!-- <textarea style="min-height:160px" class="form-control" placeholder="Message to be sent" ng-model="customEmails.message" ng-keyup="editMessage()" required></textarea> -->
                    <!-- <textarea ckeditor="options" style="min-height:160px" class="form-control" placeholder="Message to be sent" ng-model="customEmails.message" ng-change="editMessage()" required ready="onReady()"></textarea> -->
                    <text-angular style="min-height:160px;display:table" class="form-control" placeholder="Message to be sent" ng-model="email.customEmails.message" ng-change="email.editMessage()" required></text-angular>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h5 style="margin:20px 0;font-size: 15px;">Preview : </h5>

                    <div style="background:#eeeeee;max-width:900px;">
                        <span style="max-width:900px;" ng-bind-html="email.trustedHtml(email.customEmails.template)"></span>
                    </div>
                    <button type="submit" ng-mousedown='email.doSubmit=true' class="m-10 btn btnDefault">Send</button>
                </div>

            </form>
        </div>
</div>
