<!-- START widgets box-->
<div class="row" data-ng-controller="SupportController as support">
   <div class="col-lg-6 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-primary">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-primary-dark pv-lg">
               <em class="icon-envelope fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">Drop a line at</div>
               <div class="text-uppercase"><a href="mailto:support@denefits.com" class="text-white">support@denefits.com</a></div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-green-light">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <em class="icon-phone fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">Let's have a call at
               </div>
               <div class="text-uppercase"><a href="tel:+18333363348" class="text-white">1 (833) DENEFITS</a></div>
            </div>
         </div>
      </div>
   </div>
 </div>
